.toaster-group {
	position: fixed;
	z-index: 20;
}

.toaster-group--top-right-corner {
	top: 0px;
	right: 0px;
}

.toaster-group--top-left-corner {
	top: 0px;
	left: 0px;
}

.toaster-group--bottom-left-corner {
	bottom: 0px;
	left: 0px;
}

.toaster-group--bottom-right-corner {
	bottom: 0px;
	right: 0px;
}

.toaster-toast {
	width: 250px;
	border: 1px #ccc solid;
	border-radius: 3px;
	margin: 10px;
	right: 0px;
	position: relative;
	padding: 20px 10px 10px;
	background-color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	top: 20px;
}

.toaster-toast-close-button {
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	width: 16px;
	height: 16px;
	text-decoration: none;
}
